body {
	background-color: #f79f94;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.container {
	width: 300px;
	margin: auto;
}

.allonoff {
	width: 100%;
}

.navlist {
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.navlist-li {
	padding: 10px 0 10px 0;
	margin: 0;
	display: inline-block;
	width: 99px;
	color: #eee;
	background-color: #F37564;
	text-align: center;
}

.navlist:hover {
	cursor: pointer;
}

li:not(:last-child) {
	border-right: 1px solid #F79F94;
}

li:last-child {
	border-right: 1px solid #F37564;
}

.arrow-div {
	background-color: white;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #F37564;
	display: inline-block;
	top: -8px;
}

.arrow-all {
	position: relative;
	left:39px;
	visibility: visible;
}

.arrow-on {
	position: relative;
	left: 115px;
	visibility: hidden;
}

.arrow-off {
	position: relative;
	left: 190px;
	visibility: hidden;
}

.search-div {
	width: 300px;
	background-color: #fff;
	position: relative;
	top: -10px;
	padding-bottom: 2px;
	border-bottom: 1px solid #dddddd;
	height: 40px;
}

form {
	width: 300px;
	margin: 0 auto;
	position: relative;
	top: -4px;
}

.search { 
	padding: 6px 15px 6px 30px;
	margin:3px 3px 4px 3px; 
	background: no-repeat 8px 6px; 
	border-radius:15px; 
}

.fa-search {
	position: relative;
	top: 4px;
	left: 30px;
	color: #dddddd;
}

#search-input {
	width: 200px;
	height: 12px;
	position: relative;
	left: 22px;
	top: -15px;
	margin: auto;
	border: 1px solid #dddddd;
	outline: none;
}

.table-div {
	position: relative;
	top: -10px;
	background-color: #fff;
	padding-top: 1px;
	padding-bottom: 1px;
	display: table;
	width: 300px;
}

.coders {
	table-layout: fixed;
	width: 100%;
	color: #f47564;
	border-collapse: separate;
	border-spacing: 10px;
	width: 300px;
}

.coder-img {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

.coders td:first-child {
	width: 50px;
	padding-right: 0;
}

.coders td:last-child {
	width: 20px;
	text-align: center;
}

.fa-check {
	color: green;
}

.details {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.8em;
	color: #BFB5B8;
}
